# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js
web/.next/
web/out/
web/build/

# Env files
.env*

# Vercel
.vercel

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
